@model Employee
@{
    ViewData["Title"] = "Home Page";

    var hardcodedDate = new DateTime(1997, 07, 11);
    var formattedDate = hardcodedDate.ToString("yyyy-MM-dd"); 
}

<h5> Html.TextBox("EmployeeName", null, new { @@class = "form-control" }) </h5>
@Html.TextBox("EmployeeName", null, new { @class = "form-control" })
<!-- <input class=”form-control” id=”EmployeeName” name=”EmployeeName” type=”text” value=”” /> -->
<hr/>

<h5> Html.TextBox("myTextBox", "This is value", new { @@class = "form-control" }) </h5>
@Html.TextBox("myTextBox", "This is value", new { @class = "form-control" })
<!-- <input class=”form-control” id=”myTextBox” name=”myTextBox” type=”text” value=”This is value” /> -->
<hr/>

<h5> Html.TextBox("DateOfBirth", hardcodedDate, formattedDate, new { @@class = "form-control", placeholder = "Enter your birth date" }) </h5>
@Html.TextBox("DateOfBirth", hardcodedDate, formattedDate, new { @class = "form-control", placeholder = "Enter your birth date" })
<hr />

<h5> Html.TextBoxFor(m => m.Name, new { @@class = "form-control" }) </h5>
@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
<!-- <input class=”form-control” id=”Name” name=”Name” type=”text” value=”” /> -->
<hr />

<h5> Html.TextBoxFor(model => model.DateOfBirth, "{0:yyyy-MM-dd}", new { @@class = "form-control", placeholder = "Enter Date of Birth" }) </h5>
@Html.TextBoxFor(model => model.DateOfBirth, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Enter Date of Birth" })