<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - @ViewData["ApplicationName"]</title>
</head>
<body>
    <header>
        <h1>@ViewData["Header"]</h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>@DateTime.Now.Year © TTT.</p>
    </footer>
</body>
</html>